* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* header */

header {
    width: 100%;
    height: 600px;
    background: #FF0099;
    background: -webkit-linear-gradient(to right, hsla(323, 19%, 24%, 0.513), rgba(255, 0, 153, 0.486)),url(/img/portada.jpg);
    background: linear-gradient(to right, hsla(323, 19%, 24%, 0.513), rgba(255, 0, 153, 0.486)),url(/img/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-align: right;
    color: white;
    font-weight: 300;
    text-decoration: none;
    font-size: 16px;
    margin-right: 10px;
}

nav .logo {
height: 30px;
}

.logo img {
    width: 70%;
    vertical-align: top;
}


.login{
    background-color: #FF0099;
    padding: 5px;
    border-radius: 10%;
    font-weight: 600;
}

a:hover {
    background-color: hsla(324, 100%, 50%, 0.274);
   
}

.login:hover{
    background-color: aliceblue;
    color: #FF0099;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.textos-header h1 {
    font-size: 50px;
}

.textos-header h2 {
    font-size: 30px;
    font-weight: 300;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */


.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}


.imagen-about-us {
    width: 48%;
    height: auto;
}

.contenedor-sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3 {
    margin-bottom: 15px;
}

.contenido-textos span {
    background: #4d0686;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0,0, .5);     
    margin-right: 5px;
    margin-top: 10px;
}

.contenido-textos p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* portafolio */

.portafolio {
    background-color: #f2f2f2;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    /* width: 24%;
    height: 200px; */
    margin-bottom: 2%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0,0, .5);
}

.imagen-port > img {
    /* width: 100%;
    height: 100%; */
    /* object-fit: cover; */
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 50px;
}

.hover-galeria p {
    color: white;

}

.imagen-port:hover .hover-galeria {
    transform: scale(1);

}


/* cards */

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: rgba(0, 0,0, .6);

}

.cards .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
}


.cards .card > .contenido-texto-card {
    width: 60%;
    color: white;
}

.cards .card > .contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}

/* Nuestro equipo */

.about-services {
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind {
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
    align-items: baseline;
}

.servicio-ind h3 {
    margin: 10px 0;
}

.servicio-ind p {
    font-weight: 300;
    text-align: center;
}

/* footer */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;    
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 40px;
    border-bottom: 1px solid #ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: white;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color:#ccc;
}

.titulo-final {
    text-align: center;
    font-size: 18px;
    margin: 20px 0 0 0;
    color: #9e9797;
}


/* media queries */

@media  screen and (max-width:900px) {
    header {
        background-position: center;
    }


    .textos-header h1 {
        font-size: 30px;
    }
    
    .textos-header h2 {
        font-size: 20px;
        font-weight: 300;
    }

    .contenedor-sobre-nosotros {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us {
        width: 90%;
    }


    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }
   
    .cards .card:first-child {
        margin-bottom: 30px;
    }

    .servicio-cont {
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind {
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1) .servicio-ind:nth-child(2)
    {
        margin-bottom: 60px;
    } 
    
    
    .servicio-ind img {
        width: 90%;
        margin-top: 50px;
    }
    
}

@media  screen and (max-width:770px) {
    
    nav .logo {
        height: 50px;
        }
    
    
    
    nav{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 30px 0 0 0;
        margin-top: 200px;
    }

    nav > a {
        display: block;
        margin-right: 5px;
    } 

    .textos-header h1{
        font-size: 25px;
    }

    .textos-header h2 {
        font-size: 15px;
    }

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos {
        width: 95%;
    }

    .imagen-port {
        width: 98%;
        justify-content: center;
        align-items: center;
    }
    
    .cards .card {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

 
    .contenedor-footer {
        flex-direction: column;
        border: none;
    }

    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border-bottom: none;
    }

    .content-foo p {
        color: white;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}

@media  screen and (max-width:600px) {

    nav .logo {
        height: 80px;
        }

    nav{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
   
        margin-top: 100px;
    }


    nav > a {
        display: block;
        margin-right: 5px;
    } 

    .textos-header h1{
        font-size: 25px;
    }

    .textos-header h2 {
        font-size: 15px;
    }

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos {
        width: 95%;
    }

    .imagen-port {
        width: 98%;
        justify-content: center;
        align-items: center;
    }
    
    .cards .card {
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

 
    .contenedor-footer {
        flex-direction: column;
        border: none;
    }

    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border-bottom: none;
    }

    .content-foo p {
        color: white;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}

